<li class="chat-message-{{ this.modifier }}">
  <p class="chat-message-{{ this.modifier }}__content">
    {{ this.text }}
  </p>
  <div class="chat-message-{{ this.modifier }}__time">{{ this.time }}</div>
</li>
